@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Poppins', sans-serif
}
.tb-card{
    border: none;
    border-top: 4px solid hsl(0, 78%, 62%);
    border-radius: 10px;
    
}